.error-404 {
  @apply .flex .flex-wrap .relative;
  margin-top: 20px;
  margin-bottom: 54px;
  article {
    @apply .w-full;
  }
  .page-content {
    p {
      @apply text-taste-6 .mb-20;
    }
    .search-form {
			@apply .relative;
			max-width: 400px;
      input {
        @apply .w-full .outline-none .text-taste-2 .font-body .text-14 .text-left .pr-50 .pl-30;
        line-height: 1.2142857143;
        height: 66px;
        border: 2px solid config("colors.taste-5");
        border-radius: 60px;
        background-color: #e8e0da;
        background-image: url("../img/alternative-search.png");
        background-repeat: no-repeat;
        background-position-x: calc(100% - 19px);
        background-position-y: 50%;
        background-size: 29px;
      }
    }
  }
  @screen lg {
    @apply .mt-0;
    margin-bottom: 88px;
    article {
      width: calc(100% * 9 / 12);
    }
  }
}
