.gform_wrapper .c-form,
.gform_wrapper form {
  .gfield
    input:not([type="radio"]):not([type="checkbox"]):not([type="submit"]):not([type="button"]):not([type="image"]):not([type="file"]),
  .gfield textarea,
  .gform_footer input.button {
    @apply font-body text-40 leading-50/40 text-left border-b-2 border-taste-5 px-0 pt-10 pb-5 m-0 text-14 leading-17 tracking-3.71 text-taste-6 bg-transparent;

    outline: 0;

    @screen xl {
      @apply text-18 tracking-3;
      line-height: 2;
    }

    &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
      @apply uppercase;
    }
    &::-moz-placeholder { /* Firefox 19+ */
      @apply uppercase;
    }
    &:-ms-input-placeholder { /* IE 10+ */
      @apply uppercase;
    }
    &:-moz-placeholder { /* Firefox 18- */
      @apply uppercase;
    }
  }

  .gfield textarea {
    @apply bg-taste-5;
    &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
      @apply capitalize;
    }
    &::-moz-placeholder { /* Firefox 19+ */
      @apply capitalize;
    }
    &:-ms-input-placeholder { /* IE 10+ */
      @apply capitalize;
    }
    &:-moz-placeholder { /* Firefox 18- */
      @apply capitalize;
    }
  }

  .gform_footer input.button {
    @apply py-25 px-35 bg-transparent border-2 border-taste-4 cursor-pointer w-auto uppercase .tracking-4.77 .leading-30.18 .text-taste-2;

    transition: color 0.5s $default, background-color 0.5s $default;

    &:hover {
      @apply text-light bg-taste-4;
    }
  }

  .gform_footer.top_label {
    @apply p-0 .text-right;
  }

  .top_label .gfield_label {
    display: none;
  }
  .gfield {
    margin-top: 40px;
  }

  .gfield:last-child {
    .gfield_label{
      @apply .block .uppercase text-taste-6 font-body .tracking-3;
      font-size: 18px;
      line-height: 2;
      font-weight: 400;
      padding: 15px;
    }
    .ginput_container {
      margin-top: 14px;
      textarea {
        @apply text-taste-6 font-body;
        font-size: 16px;
        line-height: 2.25;
        padding: 30px 15px !important;
      }
    }
  }
}

.gform_wrapper.gform_validation_error .c-form,
.gform_wrapper.gform_validation_error form {
  .gform_body ul li.gfield.gfield_error:not(.gf_left_half):not(.gf_right_half) {
    max-width: 100% !important;
    border: 0;
    background-color: transparent;
  }
}

.gform_wrapper .c-form,
.gform_wrapper form {
  ul.gform_fields li.gfield {
    padding: 0;
  }
}

.gform_wrapper
  li.gfield.gfield_error.gfield_contains_required
  div.gfield_description,
.gform_wrapper .c-form,
.gform_wrapper form {
  .validation_message {
    @apply mt-10 font-body text-16 leading-24 text-taste-9;
  }
}

.gform_wrapper .c-form,
.gform_wrapper form {
  div.validation_error {
    @apply font-body text-16 leading-24 text-taste-9;

    border: 0;
    margin-bottom: 0;
  }
}

.gform_wrapper .c-form,
.gform_wrapper form {
  li.gfield_error
    input:not([type="radio"]):not([type="checkbox"]):not([type="submit"]):not([type="button"]):not([type="image"]):not([type="file"]),
  .gform_wrapper .c-form li.gfield_error textarea {
    @apply border-0 border-b-2 border-taste-9;
  }
}

.c-contact-form {
  visibility: hidden;
  transition-property: visibility;
  transition-duration: 0s;
  transition-delay: 0.7s;

  .c-menu__hamburger {
    top: 16px;
    right: 20px;
    cursor: pointer;

    @screen lg {
      top: 40px;
      right: 50px;
    }
  }

  &__background {
    opacity: 0;
    transition-property: opacity;
    transition-duration: 0.7s;
    transition-timing-function: $reverse;
  }

  &__inner {
    transform: translateY(-100%);
    transition-property: transform;
    transition-duration: 0.7s;
    transition-timing-function: $reverse;
  }

  &.is-active {
    visibility: visible;
    transition-delay: 0s;

    .c-contact-form__background {
      opacity: 1;
      transition-timing-function: $default;
    }

    .c-contact-form__inner {
      transform: none;
      transition-timing-function: $default;
    }
  }
}
