$maxWidth: 1400px;
$maxPhoneWidth: 500px;
$default: cubic-bezier(0.21, 0.61, 0.35, 1);
$reverse: cubic-bezier(0.65, 0.00, 0.79, 0.39);

* {
  @apply font-body;

  font-weight: normal;
  transition-timing-function: $default;

  &::selection {
    background: config('colors.taste-7');
  }
}

html {
  @apply bg-light;
}

a {
	@apply outline-none;
}

// Themes
body.theme {
  &--color-1 {
    @apply bg-taste-1;
  }

  // &--color-2 {
  //   @apply bg-taste-color-2;
  // }

  // &--color-3 {
  //   @apply bg-taste-color-3;
  // }

  // &--color-4 {
  //   @apply bg-taste-color-4;
  // }

  // &--color-5 {
  //   @apply bg-taste-color-5;
  // }

  // &--color-6 {
  //   @apply bg-taste-color-6;
  // }

  // &--color-7 {
  //   @apply bg-taste-color-7;
  // }
}

.o-cover {
  object-fit: cover;
}

.o-contain {
  object-fit: contain;
}

.o-top {
  object-position: top;
}

.top-0 {
  top: 0;
}

.bottom-0 {
  bottom: 0;
}

.left-0 {
  left: 0;
}

.top-50 {
  top: 50%;
}

.left-50 {
  left: 50%;
}

.left-30px {
  left: 30px;
}

.right-30px {
  right: 30px;
}

.left-20px {
  left: 20px;
}

.right-20px {
  right: 20px;
}

.lg-left-30px {
  @screen lg {
    left: 30px;
  }
}

.lg-right-30px {
  @screen lg {
    right: 30px;
  }
}

.order-1 {
  order: 1;
}

.order-2 {
  order: 2;
}

.order-3 {
  order: 3;
}

.lg-order-1 {
  @screen lg {
    order: 1;
  }
}

.lg-order-2 {
  @screen lg {
    order: 2;
  }
}

.lg-order-3 {
  @screen lg {
    order: 3;
  }
}

.xl-order-1 {
  @screen xl {
    order: 1;
  }
}

.xl-order-2 {
  @screen xl {
    order: 2;
  }
}

.xl-order-3 {
  @screen xl {
    order: 3;
  }
}
