.c-menu {
  &__hamburger {
    &.is-active {
      .c-menu__stick {
        top: 50%;
        bottom: auto;
        transform: translateY(-50%) rotate(45deg);

        &:last-child {
          transform: translateY(-50%) rotate(-45deg);
        }
      }
    }
  }

  &__stick {
    top: 0;

    &:last-child {
      top: auto;
      bottom: 0;
    }
  }
}

.c-main-menu {
  &__wrapper {
    top: 0;
    right: 0;
    transform: translateX(100%);
    transition-property: transform;
    transition-duration: 0.7s;
    transition-timing-function: $reverse;

    &::before {
      @apply bg-taste-7;
      @apply absolute;

      content: '';
      position: absolute;
      top: 0;
      left: -20px;
      width: 20px;
      height: 100%;
      opacity: 0.2;
    }

    &.is-active {
      transform: none;
      transition-timing-function: $default;
    }
  }
}

.c-phone-numbers {
  .c-menu__separator:last-child {
    display: none;
  }
}

.menu-main-menu-container {
  .menu {
    @apply p-0;
    @apply pt-16;

    list-style-type: none;
  }

  .menu-item {
    @apply pt-16;
    @apply pb-16;
  }

  .menu-item a {
    @apply font-subtitle;
    @apply text-taste-3;
    @apply text-26;
    @apply leading-38;
    @apply no-underline;
  }

  .menu-item-has-children {
    @apply border-t-2;
    @apply w-265;
    @apply border-taste-2;
    @apply overflow-hidden;

    box-sizing: content-box;
    transition-property: height;
    transition-duration: 0.5s;

    > a {
      @apply text-taste-1;
      @apply relative;

      &::before,
      &::after {
        @apply absolute;
        @apply bg-taste-1;

        content: '';
        top: 50%;
        right: -30px;
        transform: translateY(-50%);
        width: 16px;
        height: 2px;
        transition-duration: 0.5s;
      }

      &::before {
        transition-property: opacity;
      }

      &::after {
        transform: translateY(-50%) rotate(-90deg);
        transition-property: transform;
      }

      &.is-active::before {
        opacity: 0;
      }

      &.is-active::after {
        transform: translateY(-50%);
      }
    }

    .sub-menu {
      @apply p-0;
      @apply pt-8;

      list-style-type: none;
    }

    .menu-item {
      @apply pt-8;
      @apply pb-8;
    }

    .menu-item a {
      @apply text-taste-3;
      @apply text-14;
      @apply tracking-3.71;
      @apply uppercase;

      &::before {
        content: '- ';
      }
    }
  }
}
