.c-menu {
  &__hamburger {
    &.is-active {
      .c-menu__stick {
        top: 50%;
        bottom: auto;
        transform: translateY(-50%) rotate(45deg);

        &:last-child {
          transform: translateY(-50%) rotate(-45deg);
        }
      }
    }
  }

  &__stick {
    top: 0;

    &:last-child {
      top: auto;
      bottom: 0;
    }
  }
}

.c-main-menu {
  &__wrapper {
    right: 0;
    transform: translateX(100%);
    transition: transform 1s ease;

    &.is-active {
      transform: none;
    }
  }
}
