.c-cover {
  &::before {
    @apply absolute;
    @apply w-full;

    content: none;
    top: 0;
    background-image: linear-gradient(to top, rgba(0,0,0,0) 0%, rgba(0,0,0,.7) 100%);
    height: 50%;

    @screen lg {
      content: '';
    }
  }

  &__inner {
    bottom: 2.75rem;

    @screen lg {
      bottom: 10.125rem;
    }
  }

  &__underlay {
    top: 0;
    left: 0;
  }

  &__arrow {
    cursor: pointer;

    @screen lg {
      left: 50%;
      bottom: 3.875rem;
      transform: translateX(-50%);
    }
  }

  &__subtitle {
    border-color: config('colors.taste-2');

    @screen lg {
      border-color: config('colors.taste-4');
    }
  }

  &__bottom {
    bottom: 0;
  }
}

.c-featured-project {
  &__gallery {
    @screen lg {
      order: 2;
    }
  }

  &__content {
    @screen lg {
      order: 1;
    }
  }

  &__body p {
    margin: 25px 0;

    @screen lg {
      margin: 30px 0;
    }
  }

  &__image-wrapper {
    outline: 0;

    &:not(.slick-current) {
      cursor: pointer;
    }
  }

  &__image {
    object-fit: cover;
  }

  &__link {
    border-color: config('colors.taste-2');

    @screen lg {
      border-color: config('colors.taste-3');
    }
  }
}
