.c-map-block {
  &__content {
    @apply .bg-taste-1 order-2;
  }
  &__content-inner {
    @apply .text-center;
    padding: 50px 20px;
    a {
      @apply .no-underline;
    }
    h2 {
      a {
        @apply text-light font-title;
        font-size: 32px;
        line-height: 1.1904761905;
      }
    }
    h2 + h2 {
      padding-top: 25px;
      a {
        @apply text-taste-5;
      }
    }
    p {
      a {
        @apply text-taste-5 font-body;
        font-size: 20px;
        line-height: 1.25;
      }
      padding-top: 18px;
    }
    span {
      @apply block text-taste-5 font-subtitle tracking-4.63;
      font-size: 16px;
      line-height: 1;
      padding-bottom: 18px;
    }
  }
  &__map-image {
    max-height: 540px;
    height: calc( 540 / 720 * 100vw );
    iframe {
      @apply .w-full .h-full;
    }
  }
  @screen lg {
    &__content {
      @apply .flex .flex-wrap .justify-center .items-center;
      order: 0;
    }
    &__content-inner {
      @apply .p-0;
      max-width: 432px;
      h2 {
        a {
          font-size: 42px;
        }
      }
      h2 + h2 {
        padding-top: 45px;
      }
      p {
        a {
          font-size: 30px;
        }
      }
    }
    &__map-image {
      height: calc( 540 / 1440 * 100vw );
    }
  }
}