.c-blog,
.c-page {
  &__image {
		object-fit: cover;
		&:active,
		&:focus {
			@apply outline-none;
		}
  }

  &__body {
    h1 {
      @apply font-title;
      @apply text-58;
      @apply leading-78;
      @apply text-taste-1;

      @screen lg {
        @apply text-42;
        @apply leading-57;
      }
    }

    h2 {
      @apply font-title;
      @apply text-30;
      @apply leading-40;
      @apply text-taste-3;

      @screen lg {
        @apply text-42;
        @apply leading-57;
      }
    }

    h3 {
      @apply font-body;
      @apply text-24;
      @apply leading-28;
      @apply text-taste-2;

      @screen lg {
        @apply text-30;
        @apply leading-36;
      }
    }

    h4,
    h5,
    h6 {
      @apply font-subtitle;
      @apply text-taste-2;
      @apply uppercase;
      @apply text-12;
      @apply leading-17.12;
      @apply tracking-2.57;

      @screen lg {
        @apply text-16;
        @apply leading-30;
        @apply tracking-4.24;
      }
    }

    p,
    li,
    blockquote {
      @apply font-body;
      @apply text-taste-6;
      @apply text-14;
      @apply leading-21;

      @screen lg {
        @apply text-16;
        @apply leading-24;
      }
    }

    a {
      @apply no-underline;
      @apply text-taste-1;
    }

    blockquote {
      font-style: italic;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    p,
    blockquote {
      @apply my-20;
    }

    figure.wp-caption {
      @apply my-40;
      border: 0;
      padding: 0;

      @screen lg {
        @apply my-0;
      }

      img {
        display: block;
        max-width: 100%;
      }
    }

    figcaption {
      @apply font-body;
      @apply text-taste-6;
      @apply italic;
      @apply text-left;
      @apply mt-20;
      @apply text-12;
      @apply leading-14.12;

      @screen lg {
        @apply text-16;
        @apply leading-19;
      }
    }
  }

  &__form {
    input,
    textarea {
      &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
        opacity: 0.6;
      }
      &::-moz-placeholder { /* Firefox 19+ */
        opacity: 0.6;
      }
      &:-ms-input-placeholder { /* IE 10+ */
        opacity: 0.6;
      }
      &:-moz-placeholder { /* Firefox 18- */
        opacity: 0.6;
      }
    }
  }

  &__submit {
    @apply text-left;
    @apply relative;

    min-width: 186px;

    @screen lg {
      min-width: 256px;
      cursor: pointer;
    }
  }

  .form-submit {
    @apply mt-30;
    @apply inline-flex;
    @apply items-center;
    @apply border-2;
    @apply border-taste-4;
    @apply text-right;
    @apply relative;
    @apply float-right;

    &::before {
      content: '';
      position: absolute;
      top: 50%;
      right: 25px;
      transform: translateY(-50%);
      width: 40px;
      height: 18px;
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
      background-image: url('../img/alternative-path.png');

      @screen lg {
        width: 47px;
      }
    }
  }

  .comment-content-reply a {
    @apply no-underline;
    @apply text-taste-3;
  }

  .comment-reply-title small a {
    @apply font-title;
    @apply capitalize;
    @apply text-taste-1;

    &::before {
      @apply text-42;
      @apply leading-57;
      @apply text-taste-1;
      @apply no-underline;
      @apply inline-block;
      @apply mr-10;

      @screen lg {
        content: '|';
      }
    }
  }

  .child-comments {
    @apply pl-20;

    @screen lg {
      @apply pl-50;
    }

    .comment-content-inner {
      @apply bg-taste-5;
    }

    .comment-author-reply {
      font-size: 0;
    }

    .comment-author-reply::after {
      content: 'Replied:';
      @apply text-16;
    }
  }
}
